
body
{   
    font-family: -apple-system,BlinkMacSystemFont,"Segoe"
    UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif";
    background-color: white;
    font-size: 18px;
    color: #2D3748;
    
}


#Montra
{
    grid-template-rows:20% 75% 5%;
    grid-template-columns: 70% 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #63B3ED;
    /* grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3; */
    align-items: center;
    color: #FFFFFF;

}


/* Picture edits */
#my_pic
{
    align-items: center;
    border-radius: 100%;
    padding-top: 2rem;
    
}

main
{
    padding-top: 10%;
    /* grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;   */
    width: 60%; 
    float: left;
    margin-right: 5%;
}


#Blog_T
{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#Blog_T1
{
    font-size: 32px;
    color: #48BB78;
    text-align: left;

}

#author
{
    color: #718096;
    text-align: left;
}


.container
{
   grid-template-columns: 70% 30%;
   grid-template-rows: 20% 75% 5%;
   padding: 10px;
   border-radius: 5%;
   font-size: 18px;
   font-family:-apple-system,BlinkMacSystemFont,"Segoe UI" ,Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif;
}


aside 
{   
    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; 
    padding-top: 10%;
    padding-right: auto;
    padding-left: 70%;

}


footer
{   
    clear: both;
    /* grid-row-start: 3;
    grid-row-end: 3 ;
    grid-column-start: 1 ;
    grid-column-end: 3; */
    color: white;
    background-color:#2C5282;
    padding-inline-start: 5%;

}


#my_pic2
{
    float: right;
    margin-left: 2rem;
}

#my_pic3
{
    float: right;
    margin-left: 2rem;
}


#function_1
{
    padding-left:5px;
    padding-right: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#E2E8F0;

}

#function_2
{
    color: #4299E1;
}


#about
{
    color: #000000;
    font-family: Georgia,'Times New Roman', Times, serif;
}


#S_A
{
    color: #48BB78;
}

a
{
  color: #4299E1;
  text-decoration: none;
}


